
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
	<div class="row">
<div class="col-sm-6">   
    <div class="card-header bg-primary"><h2>LoginForm</h2>
  </div>
<form action=" " method="post" class="padding-top-10">
  <div class="card-body bg-secondary">
  <label for="uname">username:</label>
  <input type="text" class="form-control" id="uname" placeholder="enter uname" name="uname">
     <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      
     </div>
     <div class="card-footer bg-info">
      <button type="sumbit" class="btn btn-success">Login</button>
     </div>
 </form>
</div>
<div class="col-sm-6">   
    <div class="card-header bg-info"><h2>Registration Form</h2>
  </div>
<form action=" " method="post" class="padding-top-10">
  <div class="card-body">
  <label for="fname">Firstname:</label>
  <input type="text" class="form-control" id="fname" placeholder="enter firstname" name="fname">
  <label for="lname">lastname:</label>
  <input type="text" class="form-control" id="lname" placeholder="enter lastname" name="lname">
  <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
     <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
     <label for="mno">Mobileno:</label>
      <input type="number" class="form-control" id="mno" placeholder="Enter Mobileno" name="mno">
      
     </div>
     <div class="card-footer bg-dark">
      <button type="sumbit" class="btn btn-success">Register</button>
     </div>
 </form>
</div>
</div>
</div>

</body>
</html>